NEXT_PUBLIC_APP_MODE="production"
NEXT_PUBLIC_CALL_TO_ACTION_URL="https://business.dotbest.ir/"
NEXT_PUBLIC_DEV_API_URL="https://dotbest.test.mortexafarhadi.ir/"
NEXT_PUBLIC_PROD_API_URL="https://dotbest.mortexafarhadi.ir/"